<div class="hero">
  <div class="inner-hero">
    <div class="hero-left">
      <img id="face-image" src="body.jpg" />
    </div>
    <div class="hero-right">
      <mat-chip-set>
        <mat-chip class="blue-chip" id="hello-friends-chip" disableRipple
          >Hello friends!</mat-chip
        >
      </mat-chip-set>

      <p class="headline-medium">I am Ajay!</p>
      <p>
        I am an app developer, instructor, and Computer Science student at
        UNC-Chapel Hill. Welcome to my corner of the internet!
      </p>
      <div class="icon-container">
        <button mat-icon-button class="mat-stroked-icon-button">
          <mat-icon svgIcon="github"></mat-icon>
        </button>
        <button mat-icon-button class="mat-stroked-icon-button">
          <mat-icon svgIcon="youtube"></mat-icon>
        </button>
        <button mat-icon-button class="mat-stroked-icon-button">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </button>
        <button mat-icon-button class="mat-stroked-icon-button">
          <mat-icon svgIcon="instagram"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="page-container">
  <h1>About Me</h1>

  <p>
    Hello friends, my name is Ajay! I am a rising senior majoring in Computer
    Science and minoring in Data Science and Linguistics at UNC-Chapel Hill. I
    currrently serve as an Undergraduate Teaching Assistant at the UNC
    Department of Computer Science. I am the developer of Luduan, a Chinese
    language learning app for iOS. I have also worked on other iOS apps, such as
    PocketChem, a chemistry reference tool for high school students, and
    Geogsmart, a geography learning and quiz app.
  </p>

  <h2>Interests</h2>
  <p>
    I am extremely passionate about computer science education, and developing
    pedagogical methods to increase engagement, passion, equity, and
    inclusiveness in computing! I am also interested in how computers and
    software can have this same effect in the classroom and enhance student
    learning, promote curiosity about new topics, and reach those previously
    excluded from quality education.
  </p>
  <p>
    I am also interested in the intersection of computing and natural language.
    We communicate through language, and I enjoy learning about how computers
    process, understand, and communicate in human language is transforming how
    humans interact with computers. I am interested also interested in how
    computers can help people learn new languages, connecting of people that
    were previously disconnected through language barriers.
  </p>
  <p>
    I am also passionate about design! I believe that well-designed apps and
    software makes the user experience more meaningful and impactful, furthering
    the mission and goals of the app. I am interested in learning more about
    human-computer interaction and how design choices affect how people use
    apps, increase accessibility to allow more people to use the app, and what
    people think about the software they interact with every day.
  </p>
  <p>
    Lastly, I believe that as computer scientists and software engineers, we
    have a responsibility to use our knowledge and skills in a way that is
    ethical, thoughtful, and improves the human condition through social good. I
    am interested in the ethics of computing, as well making mobile and web apps
    that help real people!
  </p>
  <p>
    In my free time, I enjoy learning about languages and linguistics. I am
    currently learning Mandarin (大家好)! I also enjoy cooking, traveling, and
    learning more about the crazy world in which we live.
  </p>

  <h2>Journey into CS</h2>

  <p>
    My journey into computer science started in middle school, when I got my own
    iPad mini for the first time. As most of us were, I loved the variety of
    different apps I could use on my iPad, from fun games to apps I would write
    with or draw in. I was extremely curious how these apps worked, and wondered
    how hard it could be to build one myself. Despite tinkering with Scratch a
    little bit before, at the time, I knew nothing about coding.
  </p>

  <p>
    Around the same time, a brand-new programming language for iOS development,
    Swift, was released by Apple. With the craze around this new,
    beginner-friendly language, I started learning the basics through YouTube
    and online articles. In 8th grade, we were assigned a project in English
    class called "Genius Hour" - where we had the entire year to work on a
    project of our own choosing that tackled some sort of problem. Our final
    project could be anything we liked. I decided to work on my very first app
    for this project. Over that year, I worked on GeogSMART - a basic app that
    quizzed students on geography! I was able to release this app on the App
    Store by the end of the year, which was an extremely fun and rewarding
    experience. Since that moment, I knew that I wanted to major in computer
    science in college.
  </p>

  <p>
    In high school, I took my first formal computer science course, AP Computer
    Science. Using the concepts I learned in that class, I rebuilt GeogSMART
    from the ground up for nearly a year, and re-released the app as Geogsmart
    on the iOS App Store. I also had an incredible chemistry teacher in my
    second year in high school, which inspired me to create PocketChem, a
    chemistry reference app.
  </p>

  <p>
    I also found that I really enjoyed teaching and explaining things to others,
    especially through videos. When the COVID-19 pandemic hit and the lockdown
    began, I decided to start a YouTube channel dedicated to sharing what I had
    learned, inspired by the same channels that taught me how to code a few
    years earlier. Over the year, I created videos teaching and reviewing AP
    Computer Science content to fellow high schoolers. Some of my APCS videos
    have been watched nearly 50,000 times, and I am extremely grateful to have
    found my passion for teaching through this experience during COVID.
  </p>

  <p>
    This leads me to where I am today! At UNC, I have had the chance to take
    numerous interesting courses (both in computer science and in other
    disciplines), explore my passion for teaching through serving as an
    Undergraduate Teaching Assistant and Instructor, work on exciting software
    engineering projects, and most of all, meet amazing people and professors!
  </p>

  <p>
    If you are interested in connecting, feel free to reach out at
    <a href="mailto:agandecha@unc.edu" target="_blank">agandecha&#64;unc.edu</a
    >!
  </p>

  <p>- Ajay</p>
</div>
