<mat-card appearance="outlined">
  <mat-card-header>
    <div class="header-column">
      <mat-chip-set>
        <mat-chip class="term-chip blue-chip" disableRipple>PDF</mat-chip>
      </mat-chip-set>
      <p class="listing-title title-medium">MATH 347: Linear Algebra</p>
      <p class="title-small font-variant">Comprehensive Notes</p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      Vector and matrix algebra, solving linear equations, Gaussian elimination,
      vector spaces, orthogonality, determinants, eigenvectors and eigenvalues,
      decomposition.
    </p>
  </mat-card-content>
</mat-card>
