<div class="page-container">
  <h1>Apps</h1>
  <p>
    This page showcases some of the apps and other software projects I have
    developed! This includes iOS apps, web apps, or other software projects or
    reports. Other coding projects can be found on my
    <a href="https://github.com/ajaygandecha" target="_blank">GitHub Page.</a>
  </p>

  <h1>Released Applications</h1>
  <p>
    This section shows the apps that I have published, ordered by release. Try
    out these apps for free today!
  </p>

  <app-card
    imageUrl="/luduan.png"
    name="Luduan"
    description="Luduan is the ultimate, all-in-one companion app for students learning
    Chinese. Luduan makes it easy to study vocabulary, practice mastery,
    look up words and Chinese characters, and learn more about the Chinese
    language."
    [platforms]="luduanPlatforms"
    [languages]="luduanTools"
    actionButtonUrl="https://apps.apple.com/us/app/luduan/id6478429206"
    actionButtonText="Download"
  />

  <app-card
    imageUrl="/pocketchem.jpg"
    name="PocketChem"
    description="PocketChem is a portable, easy-to-use, and elegant periodic table and chemistry reference app for iOS devices."
    [platforms]="pocketchemPlatforms"
    [languages]="pocketchemTools"
    actionButtonUrl="https://apps.apple.com/us/app/pocketchem/id1494538757"
    actionButtonText="Download"
  />

  <app-card
    imageUrl="/geogsmart.jpg"
    name="Geogsmart"
    description="Geogsmart aims to make learning and practicing geography skills more fun, rewarding, and engaging with XP and mastery, a store to buy new app icons, leaderboards to conquer, and badges to collect!"
    [platforms]="geogsmartPlatforms"
    [languages]="geogsmartTools"
    actionButtonUrl="https://apps.apple.com/us/app/geogsmart/id1472442034"
    actionButtonText="Download"
  />

  <h1>Open Source Contributions</h1>
  <p>
    This section shows the open source apps and projects that I have contributed
    to! These are ordered by the amount and significance of contribution.
  </p>

  <app-card
    imageUrl="/csxl.jpg"
    name="UNC CS Experience Labs (CSXL) Web Application"
    description="CSXL is a technical experience accelerator, community hub, and coworking space for undergraduate students at UNC Chapel Hill. This web application supports the CSXL and serves as the hub for the undergraduate experience at the UNC CS department. This site also serves as the basis for projects in COMP 423: Foundations of Software Engineering. I work with Professor Kris Jordan and other students to manage and add features to the site."
    [platforms]="csxlPlatforms"
    [languages]="csxlTools"
    actionButtonUrl="https://csxl.unc.edu/"
    actionButtonText="Visit Site"
    secondaryButtonUrl="https://github.com/unc-csxl/csxl.unc.edu"
    secondaryButtonText="View on GitHub"
  />
</div>
